<ion-header class="bor-bot">
  <ion-navbar>
    <ion-title>コメント</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <div *ngFor="let cmt of comments; let j='index'" class="bor-bot">
        <ion-row class="wid-100 bor-bot">
            <ion-col col-2>
                <ion-avatar item-start class="mar-06">
                    <img *ngIf="cmt" [src]="cmt.user_icon" class="img-avtar mar-auto" />
                </ion-avatar>
            </ion-col>
            <ion-col col-10>
                <p class="fs-16" style="margin-bottom: 6px;">
                    <!-- User name --> <span *ngIf="cmt">{{cmt.username}}</span>
                    <ion-note class="fs-14 pad-right float-right text-black" *ngIf="cmt">
                        {{cmt.reg_date | date :'yyyy/MM/dd'}}&nbsp;&nbsp;
                        <span class="fs-14" *ngIf="cmt">{{cmt.reg_date | date :'hh:mm'}}</span>
                    </ion-note>
                </p>
                <p class="fs-12 mar-auto" *ngIf="cmt">
                    {{cmt.content}}
                </p>
                <ion-row>
                    <ion-col col-3 class="no-padding">
                        <button *ngIf="isLike" ion-button icon-start clear small class="no-padding text-blue" (click)="likeCommentButton()">
                            <!-- <ion-icon name="ios-heart" class="text-blue"></ion-icon> -->
                            <img src="assets/imgs/heart.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial">
                                いいね
                                <span>1</span>
                            </p>
                        </button>

                        <button *ngIf="!isLike" ion-button icon-start clear small class="no-padding text-blue" (click)="UnlikePost()">
                            <!-- <ion-icon name="ios-heart" class="text-blue"></ion-icon> -->
                            <img src="assets/imgs/heart-white-hi.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial">
                                いいね
                                <span></span>
                            </p>
                        </button>
                    </ion-col>
                    <ion-col col-3 class="no-padding">
                        <button ion-button icon-start clear small class="no-padding text-blue" (click)="ReplyComment()">
                            <!-- (click)="SelectCat()" -->
                            <!-- <ion-icon name="ios-send-outline" class="text-blue"></ion-icon> -->
                            <img src="assets/imgs/send.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial">
                                返信
                                <span *ngIf="commentLength>0">{{commentLength}}</span>
                            </p>
                        </button>
                    </ion-col>
                    <ion-col col-3 class="no-padding">
                        <!-- <button ion-button icon-start clear small class="no-padding text-blue">
                        <img src="assets/imgs/share.png" class="icons-small">&nbsp;&nbsp;
                        <p class="fs-12 text-blue text-trans-initial">Share</p>
                      </button> -->
                    </ion-col>
                    <ion-col col-3 class="no-padding flex-center ">
                        <ion-note>
                            <ion-icon name="ios-close" class="fs-24 fs-w8-8" (click)="Report()"></ion-icon>
                        </ion-note>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <div padding *ngIf="cmt && cmt.innerComments && cmt.innerComments.length > 0">
            <!-- *ngIf="hideMe" -->
            <ion-row class="bor-bot ob-none" *ngFor="let icmt of cmt.innerComments;">
                <ion-col col-2>
                    <ion-avatar item-start class="mar-06">
                        <img *ngIf="icmt" [src]="icmt.user_icon" class="img-avtar mar-auto" />
                    </ion-avatar>
                </ion-col>
                <ion-col col-10>
                    <p class="fs-16" style="margin-bottom: 6px;">
                        <span *ngIf="icmt">{{icmt.username}}</span>
                        <ion-note class="fs-14 pad-right float-right text-black">
                            {{icmt.reg_date | date :'yyyy/MM/dd'}}&nbsp;&nbsp;
                            <span class="fs-14" *ngIf="icmt">{{icmt.reg_date | date :'hh:mm'}}</span>
                        </ion-note>
                    </p>
                    <p class="fs-12 mar-auto">
                        {{icmt.content}}
                    </p>
                    <ion-row>
                        <ion-col col-3 class="no-padding">
                            <button *ngIf="isLike" ion-button icon-start clear small class="no-padding text-blue" (click)="likeCommentButton()">
                                <!-- <ion-icon name="ios-heart" class="text-blue"></ion-icon> -->
                                <img src="assets/imgs/heart.png" class="icons-small">&nbsp;&nbsp;
                                <p class="fs-12 text-blue text-trans-initial">
                                    いいね
                                    <span>1</span>
                                </p>
                            </button>
                            <button *ngIf="!isLike" ion-button icon-start clear small class="no-padding text-blue" (click)="UnlikePost()">
                                <!-- <ion-icon name="ios-heart" class="text-blue"></ion-icon> -->
                                <img src="assets/imgs/heart-white-hi.png" class="icons-small">&nbsp;&nbsp;
                                <p class="fs-12 text-blue text-trans-initial">
                                    いいね
                                    <span></span>
                                </p>
                            </button>
                        </ion-col>
                        <ion-col col-3 class="no-padding">
                            <button ion-button icon-start clear small class="no-padding text-blue">
                                <!-- <ion-icon name="ios-send-outline" class="text-blue"></ion-icon> -->
                                <img src="assets/imgs/send.png" class="icons-small">&nbsp;&nbsp;
                                <p class="fs-12 text-blue text-trans-initial">
                                    返信
                                    <span *ngIf="commentLength>0">{{commentLength}}</span>
                                </p>
                            </button>
                        </ion-col>
                        <ion-col col-3 class="no-padding">
                            <!-- <button ion-button icon-start clear small class="no-padding text-blue">
          <img src="assets/imgs/share.png" class="icons-small">&nbsp;&nbsp;
          <p class="fs-12 text-blue text-trans-initial">Share</p>
        </button> -->
                        </ion-col>
                        <ion-col col-3 class="no-padding flex-center ">
                            <ion-note>
                                <ion-icon name="ios-close" class="fs-24 fs-w8-8" (click)="Report()"></ion-icon>
                            </ion-note>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </div>
<br><br>
</ion-content>
