page-camera {

	

.action-sheet-md .action-sheet-title {
    text-align: center !important;
    font-size: 1.6rem;
    color: #757575;
    padding: 11px 16px 17px;
}

/*.block {
	  position: relative

	  .deleteIcon {
	    position: absolute !important;
	    color: #ffffff !important;
	    margin-left: 80% !important;
	  }
	  
	  .deleteIcon:before {
	    font-size: 30px !important;
	  }
  }*/

}
